<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
</head>
<body>
<div th:replace="parts/header :: header"></div>
<h3>Koszyk</h3>

<div th:text="${user.name != null} ? 'Dane użytkownika: ' +${user.name} : ''"></div>
<ul th:each="item : ${basket}">
    <li th:text="${item.getProduct().product}+ ' '+${item.getProduct().size} + ' cena: '+ ${item.getProduct().price} + ' ' + ${item.getQuantity()} + ' szt'"></li>
</ul>
<h4 th:text=" 'Wartość całkowita: ' +${totalPrice} + ' zł'"></h4>
<div></div>
<ul th:each="category : ${categories}">
    <li th:text="${category.category}"> </li> <a th:href="@{/menu/{category}(category=${category.category})}" th:value="${category.category}">Link</a>
</ul>
<div th:with="expr_result = ${totalPrice>0}">
    <div th:if="${expr_result}">
        <button><a th:href="@{/order}">Zamów</a></button>
    </div>
</div>

</body>
</html>