<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koszyk</title>
</head>
<body>
<h3>Koszyk</h3>
<div></div>
<ul th:each="item : ${basket}">
    <li th:text="${item.getProduct().product}+ ' '+${item.getProduct().size} + ' cena: '+ ${item.getProduct().price} + ' ' + ${item.getQuantity()} + ' szt'"></li>
</ul>
<h4 th:text=" 'Wartość całkowita: ' +${totalPrice} + ' zł'"></h4>
<div></div>
<ul th:each="category : ${categories}">
    <li th:text="${category.category}"> </li> <a th:href="@{/menu/{category}(category=${category.category})}" th:value="${category.category}">Link</a>
</ul>
</body>
</html>