<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona startowa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="parts/header :: header"></div>
<div class="jumbotron text-center">
    <h1>Najsmaczniejsza pizza</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3 th:each="category : ${cetegories}">
                <a class="col-sm-4" th:href="@{/menu/{category} (category=${category.category})}"><span th:text="${category.category}"></span></a>
            <p>Zdjęcie</p>
            </h3>
        </div>
    </div>
</div>
</body>
</html>