<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form method="post" th:action="@{/register}" th:object="${registerForm}">
    Imię <input type="text" th:field="*{name}" th:errorClass="error">
    <span th:errors="*{name}"></span>
    <br>
    Nazwisko <input type="text" th:field="*{surname}" th:errorClass="error">
    <span th:errors="*{surname}"></span>
    <br>
    Email <input type="text" th:field="*{email}" th:errorClass="error">
    <span th:errors="*{email}"></span>
    <br>
    Hasło <input type="password" th:field="*{password}" th:errorClass="error">
    <span th:errors="*{password}"></span>
    <br>
    Ulica <input type="text" th:field="*{street}" th:errorClass="error">
    <span th:errors="*{street}"></span>
    <br>
    Miasto <input type="text" th:field="*{city}" th:errorClass="error">
    <span th:errors="*{city}"></span>
    <br>
    Kod poctowy <input type="text" th:field="*{zip}" th:errorClass="error">
    <span th:errors="*{zip}"></span>
    <br>
    Telefon <input type="text" th:field="*{phone}" th:errorClass="error">
    <span th:errors="*{phone}"></span>
    <br>
    <br>
    <input type="submit" value="Zarejestruj">
</form>

</body>
</html>